<div class='sixteen columns cloud-page'>
  
  <div class='eight columns alpha'>
    <div class='main-cloud-wrapper'>
    </div>
 
  </div>

  <div class='eight columns omega'>

    <div class='comment-wrapper'>
      <div class='header'>
        What does this cloud look like?
      </div>

      <%= form_for([@comment], remote: true) do |form| %>
        <%= form.text_field :body %>
        <%= form.hidden_field :cloud_id %>
        <%= form.submit :send, value: 'Submit' %>
      <% end %>

      <div id="comments-container">        
      </div>
    </div>

    <div class='navigation'>
      
      
      <%= link_to "Previous", clouds_ajax_path, remote: true, class: 'navlink prev' %>      
      &nbsp;|&nbsp;      
      <%= link_to "Surprise Me", clouds_ajax_path, remote: true, class: 'navlink rand' %>      
      &nbsp;|&nbsp;
      <%= link_to "Next", clouds_ajax_path, remote: true, class: 'navlink next' %>      

      <div id="perma-link">
      </div>      

      <div class='share-container'>
        Everyone Loves Clouds, Share!
        <div class="addthis_sharing_toolbox"></div>      
      </div>
    </div>

  </div>        
</div>

<script type='text/javascript'>
var currentComments = <%=raw @comments_json %>;
</script>