<!DOCTYPE html>
<html>
<head>
  <title>Thiscloudlookslike</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class='navigation'>
    <ul class='navigation-menu'>
      <li><%= link_to "next cloud", root_path %></li>
    </ul>
  </header>
  <div>
    <%= yield %>
  </div>

</body>
</html>
